@charset "UTF-8";
/* 
    Paleta de cores: 
    header: #4C7031
    logo: #F2AE1C
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background-color: white;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    background-color: #4C7031;
}
header .logo {
    width: 250px;
}
header nav {
    padding: 20px;
}
header a {
   color: white;
   font-size: 2em;
}