@charset "UTF-8";
/* 
    Paleta de cores: 
    header: #4C7031
    logo: #F2AE1C
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
body {
    font-size: 100%;
    background-color: white;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    background-color: #4C7031;
}
header .logo {
    width: 250px;
}
header nav {
    gap: 50px;
}
header a {
   color: white;
   font-size: 1em;
}
header li {
    list-style: none;
    display: inline-block;
    gap: 10px;
    padding: 30px;
}
header a:hover {
    color: #F2AE1C;
    transition: 0.5s;
}
header .btn-buy {
    background-color: #F2AE1C;
    text-align: center;
    width: 150px;
    height: 50px;
    display: block;
    border-radius: 8px;
    padding: 8px;
}
header .btn-buy:hover {
    background-color: #c49329be;
    color: white;
}
